@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;700;800&display=swap");

*:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a,
button {
    cursor: revert;
}
ol,
ul,
menu {
    list-style: none;
}
table {
    border-collapse: collapse;
}
input,
textarea {
    -webkit-user-select: auto;
}
textarea {
    white-space: revert;
}
meter {
    -webkit-appearance: revert;
    appearance: revert;
}
:where(pre) {
    all: revert;
}

::placeholder {
    color: unset;
}
::marker {
    content: initial;
}
:where([hidden]) {
    display: none;
}
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}
:where([draggable="true"]) {
    -webkit-user-drag: element;
}
:where(dialog:modal) {
    all: revert;
}
/*👉Above is resetting css👈*/
/*👉Style guide👈*/
:root {
    --hunter-green: #386641ff;
    --asparagus: #6a994eff;
    --yellow-green: #a7c957ff;
    --parchment: #f2e8cfff;
    --bittersweet-shimmer: #bc4749ff;
}
* {
    font-family: sans-serif, Arial;
}
title {
    font-size: 20px;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
body {
    background-color: white;
}
a {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
button {
    cursor: pointer;
}
figcaption {
    font-size: 10px;
}
a:active {
    font-size: 14px;
}
a:hover {
    font-size: 14px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
/*👉Section content👈*/
body > main {
    min-height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
article {
    /*👉 border: 1px solid pink;👈*/
    width: 90vw;
}
/*👉Header👈*/
body header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow-green);
    align-items: center;
}
.logo-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    width: 160px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.logo-container a {
    grid-row: 1 / span 2;
    display: grid;
    align-items: center;
    justify-content: center;
}
.logo-container h4 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    padding-left: 2px;
    color: var(--hunter-green);
}
.logo-container h5 {
    grid-column: 2 / span 2;
    letter-spacing: 0.04em;
    font-family: "Noto Sans", sans-serif;
    text-indent: -5px;
    margin-top: -5px;
    font-size: 0.8em;
}
.heart-logo {
    background-color: var(--bittersweet-shimmer);
    display: inline-block;
    height: 25px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 25px;
    animation: heart-pump 5s infinite forwards;
}

.heart-logo:before,
.heart-logo:after {
    content: "";
    background-color: var(--bittersweet-shimmer);
    border-radius: 50%;
    height: 25px;
    position: absolute;
    width: 25px;
}

.heart-logo:before {
    top: -12px;
    left: 0;
}

.heart-logo:after {
    left: 12px;
    top: 0;
}
.heart-logo:hover {
    animation: fast-heart-pump 1s infinite forwards;
}

/*👉 Header Nav 👈*/
header nav {
    display: grid;
    grid-template-rows: 10vh 35vh;
    z-index: 99;
    align-self: start;
    justify-content: center;
}
header button {
    cursor: pointer;
    justify-self: center;
    border-radius: 16px;
}
header button span {
    width: 40px;
    height: 4px;
    display: block;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
}

header nav ul {
    background-color: var(--yellow-green);
    display: grid;
    max-width: 130px;
    text-align: center;
    visibility: hidden;
    font-size: 14px;
    opacity: 0;
    transition: 0.2s ease-in;
}
header nav li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0px 15px;
}
header nav li a:hover {
    background-color: var(--bittersweet-shimmer);
    color: var(--parchment);
}
.show-mobile-nav {
    opacity: 1;
    visibility: visible;
}

/*👉Home👈*/
#home-section {
    height: 100%;
    text-align: center;
}
#home-section img {
    width: 100%;
}

#home-section article:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}
#home-section article:nth-child(2) h3 {
    font-size: 2em;
}
#home-section article:nth-child(2) h5 {
    font-size: 1.1em;
}
#home-section aside {
    width: 100%;
}
#home-section article ul {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    padding-bottom: 10px;
}
/*👉About👈*/
section#about-section {
    text-align: center;
}
section#about-section article {
    background-color: var(--asparagus);
    border-radius: 16px;
}
section#about-section article > h1 {
    font-size: 2em;
}
section#about-section article > p {
    padding: 15px;
}

/*👉Classes👈*/
#classes-section article {
    background-color: var(--asparagus);
    padding: 6px;
    border-radius: 6px;
}
#classes-section article:nth-child(1) {
    background-color: white;
    padding: 0;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
}
#classes-section article:nth-child(1) nav {
    width: 100%;
}
#classes-section article:nth-child(1) ul {
    display: grid;
    justify-content: space-around;
    height: 100%;
}
.classes-button {
    background-color: var(--yellow-green);
    border-radius: 6px;
    min-width: 120px;
    height: 30px;
    text-align: center;
    transition: all 0.5s;
}
.classes-button-selected {
    transform: scale(120%);
    background-color: var(--bittersweet-shimmer);
    color: var(--parchment);
}
.classes-button:hover {
    transform: scale(120%);
    background-color: var(--bittersweet-shimmer);
    color: var(--parchment);
}

#classes-section h3 {
    text-align: center;
    font-size: 1.5em;
}
#classes-section table {
    font-size: 0.8em;
    width: 100%;
    line-height: 24px;
}
#classes-section thead {
    font-weight: 600;
    background-color: var(--parchment);
}
#classes-section table th:nth-child(1),
td:nth-child(1) {
    padding-left: 4px;
    width: 50%;
}

#classes-section table tr:nth-child(even) {
    background-color: var(--yellow-green);
}
#classes-section span {
    display: flex;
    font-size: 0.7em;
    text-align: center;
    justify-content: center;
    padding-top: 6px;
}
.table-hidden {
    display: none;
    animation: table-fade 2s forwards;
    opacity: 0;
}
/*👉Form👈*/
form {
    display: flex;
    flex-direction: column;
}
label,
legend {
    /*👉  display: inline-block;👈*/
    width: 100px;
    /*👉 text-align: right;👈*/
    /*👉  margin-right: 10px;👈*/
    /*👉  font-weight: bold;👈*/
    display: none;
}
fieldset label {
    display: inline-block;
    /*👉   text-align: left;👈*/
    padding-left: 10px;
}
fieldset {
    display: flex;
    text-align: center;
    padding: 20px;
}
fieldset input[type="radio"] {
    border: 1px solid var(--asparagus);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    accent-color: var(--bittersweet-shimmer);
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    border: 1px solid var(--asparagus);
    border-radius: 6px;
    text-align: center;
    color: black;
}

textarea {
    text-align: left;
    height: 150px;
}
input::placeholder,
textarea::placeholder,
option::placeholder {
    color: var(--asparagus);
    opacity: 0.7;
}
select:required:invalid {
    color: var(--asparagus);
    opacity: 0.7;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

.input-icons .fa-user,
.fa-envelope {
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    color: var(--asparagus);
}
.fa-mobile {
    font-size: 25px;
    position: absolute;
    margin-top: 2px;
    margin-left: 6px;
    color: var(--asparagus);
}

.form-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20%;
    text-align: center;
}
form button {
    width: 80px;
    height: 35px;
    border-radius: 6px;
}
button[type="submit"] {
    background-color: var(--asparagus);
}
button[type="reset"] {
    background-color: var(--bittersweet-shimmer);
}
button[type="submit"]:hover {
    background-color: green;
}
button[type="reset"]:hover {
    background-color: red;
}
.privacy-question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.fa-question {
    font-size: 30px;
    border: 1px solid var(--asparagus);
    width: 30px;
    text-align: center;
    color: var(--asparagus);
    border-radius: 50%;
}
/*👉Privacy👈*/
.privacy-section {
    border: 1px solid;
    padding: 10px;
    overflow-y: scroll;
    background-color: var(--parchment);
    max-height: 80%;
}
.privacy-section h5,
.privacy-section h1 {
     padding: 10px;
    text-align: center;
    font-weight: 700;
}
.privacy-section p,
.privacy-section li {
    font-size: 0.8em;
}
.privacy-section ul {
    list-style: circle;
    list-style-position: inside;
}
/*👉Footer👈*/

footer {
    height: 10%;
    background-color: var(--hunter-green);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--parchment);
}

@media screen and (min-width: 500px) {
    /*👉 Header Nav 👈*/
    header button {
        display: none;
        z-index: -99;
    }
    header nav {
        height: 100%;
    }
    header nav ul {
        display: flex;
        min-width: 60vw;
        justify-content: space-evenly;
        visibility: visible;
    }
    header nav li {
        border-radius: 16px;
        height: 50%;
        min-width: 18%;
        align-self: center;
        margin-right: 5px;
    }
    header nav li a {
        background-color: var(--bittersweet-shimmer);
        width: 100%;
        height: 100%;
        font-size: 0.7em;
        border-radius: 16px;
    }
    header nav li:hover {
    }
    /*👉Home👈*/
    #home-section img {
        width: 75%;
    }
    #home-section article:nth-child(2) h3 {
        font-size: 3em;
    }
    #home-section article:nth-child(2) h5 {
        font-size: 1.7em;
    }
    #home-section aside {
        width: 70%;
    }
}

@keyframes heart-pump {
    0%,
    40%,
    60%,
    100% {
        transform: scale(100%) rotate(-45deg);
    }
    50% {
        transform: scale(90%) rotate(-45deg);
    }
}
@keyframes fast-heart-pump {
    0% {
        transform: scale(100%) rotate(-45deg);
    }
    50% {
        transform: scale(90%) rotate(-45deg);
    }
    100% {
        transform: scale(100%) rotate(-45deg);
    }
}
@keyframes table-fade {
    0% {
        transform: scale(0%) opacity(0);
    }
    100% {
        transform: scale(100%) opacity(1);
    }
}
